
.user-card {
       display: grid;
       
       grid-template-columns: 200px auto;
       grid-template-rows: max-content;
       grid-template-areas: "user-image user-info";
       gap: 20px;
      background-color: #aae21dde;
       border-radius: 10px;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
       overflow: hidden;
       color: white;
       margin: 30px;
     }
     
     .user-image {
       grid-area: user-image;
     }
     
     .user-image img {
       display: block;
       width: 100%;
     }
     
     .user-info {
       grid-area: user-info;
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 20px;
     }
     
     .user-name {
       font-size: 34px;
       margin: 0 0 10px 0;
     }
     
     .user-location {
       font-size: 18px;
       margin: 0 0 10px 0;
     }
     
     .user-bio {
       font-size: 14px;
       margin: 0;
     }
    